@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root{
    --noto-sans: 'Noto Sans JP';
    --yu-goth: '游ゴシック','YuGothic';
    --shadowColor: rgba(0,0,0,0.25);
    --bgCol: rgb(230,230,230);
}
*{
    font-family: var(--yu-goth), sans-serif;
    font-weight: normal;
    margin: 0 0 0;
    padding: 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
    }
    img{
        pointer-events: none;
    }
    .txt-small{
        font-size: 0.5em;
    }
    section{
        padding: 80px 0px 80px;
    }
}
header{
    .menu{
        z-index: 1;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        padding: 0.8em 0 0.8em;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 0 2px 1rem var(--shadowColor);
        ul{
            list-style: none;
            display: flex;
            li{
                a{
                    white-space: nowrap;
                    border-left: 1px solid gray;
                    text-decoration: none;
                    
                    color: black;
                    border-bottom: 4px solid transparent;
                    transition: color, background-color, border-bottom 0.3s;
                    
                    display: inline-block;
                    line-height: 1;
                    padding: calc(1.25rem - 4px) 2rem;
                }
                a:hover{
                    background-color: rgba(230,230,230,0.9);
                }
            }
            li:last-child a{
                border-right: 1px solid gray;
            }
        }
    }
}
footer{
    bottom: 0;
    left: 0;
    background: #2c3e50;
    color: white;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 0.8em;
    .to-top{
        margin-top: 0px;
        a{
            white-space: nowrap;
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: gray;
        }
    }
}