@import url(../base.css);
main{
    #sec1{
        background-color: var(--bgCol);
        margin-top: 4em;
        display: flex;
        flex-flow: column;
        .works-cont{
            .work{
                margin-top: 8em;
                border-top: 0.8px solid gray;
                padding-top: 8em;
                display: flex;
                flex-flow: column;
                img{
                    width: 240px;
                    height: 240px;
                    padding: 0.8em;
                    background-color: white;
                    box-shadow: 0 2px 1rem var(--shadowColor);
                }
                .info-cont{
                    margin-top: 4em;
                    display: flex;
                    flex-flow: row;
                    .info{
                        margin-right: 2em;
                        color: gray;
                        li{
                            padding-top: 1.2em;
                        }
                    }
                    .info2{
                        margin-left: 2em;
                        color: black;
                        li{
                            padding-top: 1.2em;
                        }
                    }
                }
            }
        }
    }
}